<h1>Rabie Mohamed</h1>
<p>
hello! this my pages which is all ablot me
</p>
<p>
This my linkedin page <%= link_to 'https://www.linkedin.com/rabiemohamed','https://www.linkedin.com/rabiemohamed'%>
</p>
<%= image_tag("myimage.jpg") %>
<p>
<%= link_to 'Home',home_path %>
</p>